@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
.contactanos {
  background: url("../images/contactanos.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.index {
  background: url("../images/index.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.comofuncionan {
  background: url("../images/comofuncionan.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.monedas {
  background: url("../images/monedas.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.blockchain {
  background: url("../images/blockchain.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* CSS RESET */
* {
  margin: 0;
  padding: 0; }

/* Seteando la letra para usar la de Google Fonts */
body {
  font-family: 'Mukta', sans-serif; }

.navbar {
  padding: 0; }

.nav__logo {
  padding-top: 9px;
  margin-left: 20px; }

#logo {
  max-width: 40px; }

.heroSize {
  font-size: 3em;
  color: black;
  text-align: left;
  line-height: 1.1; }

.heroPosition {
  margin-left: 10%;
  margin-top: 10%; }

.btn-primary {
  background-color: #f79719;
  border-color: black;
  color: black; }

.btn-primary:hover {
  background-color: black;
  color: #f79719;
  border-color: #f79719; }

.bg-orange {
  background: #f79719; }

.blackout {
  background-color: rgba(0, 0, 0, 0.2); }

section article dl dt {
  font-size: 1.8rem; }

section article dl dd {
  font-size: 1rem; }
